{% extends "base-structure.html" %}

{% block title %}
All Directors
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-user-o" aria-hidden="true"></i> Directors </h1>
   <div class="row bottom-margin">
     <a href="/directors/add" class="btn btn-primary" role="button" aria-disabeled="true">Add Director</a>
   {% if directors %}
     <table class="table">
       <thead>
         <tr>
           <th>Name</th>
           <th>Years Active</th>
         </tr>
       </thead>
       <tbody>
     {% for director in directors %}
     <tr>
           <th scope="row">{{director.name}}</th>
           <td>{{director.years_active}}</td>
           <td><a href="/directors/edit/{{director.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
           <button class="btn btn-warning delete_ajax_btn" role="button" data-director-id="{{director.id}}">Delete</a></td>

     </tr>
      {% endfor %}
    </tbody>
   </table>
   {% else %}
   <h3>There are no directors in the directory yet.</h3>
   {% endif %}

  </div>
</div>
{% endblock %}

{% block scripts%}
{{super()}}
<script>
  $(document).ready(function() {
    $(".delete_ajax_btn").click(function(event) {
      var director_id = $(this).data("director-id");

      var row = $(this).parent().parent();
      swal({
          title: "Are you sure?",
          text: "Every movie that this director has made will be deleted too.",
          type: "warning",
          html: true,
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(isConfirm) {
          if (isConfirm) {
            $.ajax({
                type: "DELETE",
                url: "/ajax/directors/" + director_id,
                success: function(response) {
                  console.log(response);
                  row.remove();
                  swal({
                    title: "Deleted!",
                    text: response.name + " has been deleted.",
                    type: "success",
                    timer: 2500,
                    showConfirmButton: false
                  });
                }
              })
              .fail(function(error) {

                swal({
                  title: "Oops...",
                  text: "Deletion failed",
                  type: "error",
                  timer: 2000,
                  showConfirmButton: false
                });
              });
          }
        });
    });
  });
</script>
{% endblock%}
