{% extends "base-structure.html"%}
{% block title %}Members{% endblock %}

{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-users" aria-hidden="true"></i> Members </h1>
    <ul>
        {% for member in members %}
          <li>{{member}}</li>
        {% endfor%}
    </ul>

  <div class="text-center">
  <img src="static/img/tiana.jpg" class="img-thumbnail" width="235" height="200" alt="Tiana Jarman">
  <img src="static/img/riley.png" class="img-thumbnail" width="235" height="200" alt="Riley Spehler">
  <img src="static/img/danielle2.png" class="img-thumbnail" width="233" alt="Danielle Dominguez">
  </div>

</div>
    {% endblock%}
