{% extends "base-structure.html" %}

{% block title %}
Edit Movie
{% endblock %}

{% block page_content %}
<div class="container">
   <div class="container">
      <h1 class="mt-5"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Movie:</h1>
     <form action="/movie-directory/edit/{{movie.id}}" method="post">
       <div class="form-group">
         <label>Title</label>
         <input class="form-control" type="text" name="title" value="{{movie.title}}" required="true">
       </div>
       <div class="form-group">
         <label>Genre</label>
         <input class="form-control" name="genre" value="{{movie.genre}}" required="true">
       </div>
       <div class ="form-group">
         <label>Year</label>
         <input class="form-control" type="text" name="year" value="{{movie.year}}" required="true">
       </div>
       <div class ="form-group">
         <label>Description</label>
         <input class="form-control" type="text" name="description" value="{{movie.description}}" required="true">
       </div>
       <button type="submit" class="btn btn-primary">Save Changes</button>
     </form>
    </div>





 </div>
{% endblock %}
