{% extends "base-structure.html" %}

{% block title %}
All Movies
{% endblock %}



{% block page_content %}

<div class="container">
   <h1 class="mt-5"><i class="fa fa-video-camera" aria-hidden="true"></i> Movies </h1>
   <div class="row bottom-margin">
     <a href="/movie-directory/add" class="btn btn-primary" role="button" aria-disabeled="true">Add Movie</a>
   {% if movies %}
     <table class="table">
       <thead>
         <tr>
           <th>Title</th>
           <th>Genre</th>
           <th>Year</th>
           <th>Description</th>
           <th>Director</th>
         </tr>
       </thead>
       <tbody>
     {% for movie in movies %}
     <tr>
           <th scope="row">{{movie.title}}</th>
           <td>{{movie.genre}}</td>
           <td>{{movie.year}}</td>
           <td>{{movie.description}}</td>
           <td>{{movie.director.name}}</td>
           <td><a href="/movie-directory/edit/{{movie.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a></td>
          <td><button class="btn btn-warning delete_ajax_btn" role="button" data-movie-id="{{movie.id}}">Delete</button></td>

     </tr>
      {% endfor %}
    </tbody>
   </table
   {% else %}
   <h3>There are no movies in the directory yet.</h3>
   {% endif %}

 </div>
</div>
{% endblock %}


{% block scripts%}
{{super()}}
<script>
  $(document).ready(function() {
    $(".delete_ajax_btn").click(function(event) {
      var movie_id = $(this).data("movie-id");

      var row = $(this).parent().parent();
      swal({
          title: "Are you sure?",
          type: "warning",
          html: true,
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(isConfirm) {
          if (isConfirm) {
            $.ajax({
                type: "DELETE",
                url: "/ajax/movie-directory/" + movie_id,
                success: function(response) {
                  console.log(response);
                  row.remove();
                  swal({
                    title: "Deleted!",
                    text: response.name + " has been deleted.",
                    type: "success",
                    timer: 2500,
                    showConfirmButton: false
                  });
                }
              })
              .fail(function(error) {

                swal({
                  title: "Oops...",
                  text: "Deletion failed",
                  type: "error",
                  timer: 2000,
                  showConfirmButton: false
                });
              });
          }
        });
    });
  });
</script>
{% endblock%}
